

.green-card-aboutme {
    align-items: top;
    /* display: flex; */
    min-height: 50px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(0,202,75,0.4);
    border-radius: 10px;
    margin-bottom: 1px;
    font-size: 1.4rem;
}

.green-card {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(0,202,75,0.7);
    border-radius: 10px;
    margin-bottom: 1px;
}


footer {
    min-height: 20px;
    text-align: center;
    background-color: gray;
    font-family: "Roboto", sans-serif;
    padding: 20px 30px 5px 30px;
    border-radius: 10px;
    margin-top: auto;
    
}

.audio {
    text-align: center;
}

.video {
    text-align: center;
}

.video_embed{
    text-align: center;
    
}

.video_embed iframe {
    width:560px;
    height: 315px;
}

.aboutme-image{
    text-align: center;
}

.aboutme-image img{
    width: 70%;
    height: auto;
    margin-bottom: 4px;
}
.aboutme-object object{
    max-width:600px;
}

.aboutme-object{
    text-align:center;
}

.audio-desc{
    display:flex; 
    justify-content: flex-end ;
    align-items: center
}

.audio-desc audio{
    max-width: 250px;
} 

h2{
    text-align:center;
    margin-bottom: 4px;
}
@media all and (max-width: 700px) {
    video{
        width: 100%;
        height: auto;
    }

    audio{
        width: 70%;
    }

    .video_embed iframe{
        width: 100%;
        height: auto;
    }

    .aboutme-image img{
        width: 70%;
        height: auto;
    }
}

@media all and (min-width: 451px){
    video{
        max-width: 300px;
        width: 100%;
        height: auto;
    }

    .aboutme-image img{
        width: 70%;
        height: auto;
        max-width:400px;
    }
}

  
  