/* #00ca4e verde*/
/* #ff605c vermelho*/
/* #ffbd44 amarelo*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    padding: 20px 25px 20px 25px;
}

@media all and (max-width: 540px) {
    #menu {
        display: flex;
        /* height: 80px; */
        min-height: 25px;
        overflow: hidden;
        padding: 15px 0px 2px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(223, 233, 233, 1);
        border-radius: 20px;
    }

    .menu-options a {
        margin-right: 30px;
        margin-bottom: 15px;
        font-weight: bolder;
        font-size: 15pt;
        color: #808080;
        display: flex;
    }
}

@media all and (min-width: 541px) {
    #menu {
        display: flex;
        /* height: 80px; */
        min-height: 25px;
        overflow: hidden;
        padding: 15px 0px 15px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(223, 233, 233, 1);
        border-radius: 20px;
    }

    .menu-options a {
        margin-right: 30px;
        font-weight: bolder;
        font-size: 15pt;
        color: #808080;
    }
}

.menu-logo{
    margin-left: 30px;
    margin-right: 25px;
}

#option-home:hover{
    color: #00ca4e;
}

#option-relat:hover{
    color: #ff605c;
}

#option-grupo:hover{
    color: #ffbd44;
}

.green-card {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(0,202,75,0.4);
    border-radius: 20px;
    margin-bottom: 30px;
}

.red-card {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(255,96,92,0.5);
    border-radius: 20px;
    margin-bottom: 30px;
}

.yellow-card {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(255, 189, 68, 0.6);
    border-radius: 20px;
    margin-bottom: 30px;
}

.green-card-link {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(0,202,75,0.4);
    border-radius: 20px;
    margin-bottom: 30px;
}

.red-card-link {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(255,96,92,0.5);
    border-radius: 20px;
    margin-bottom: 30px;
}

.yellow-card-link {
    align-items: top;
    /* display: flex; */
    min-height: 25px;
    overflow: hidden;
    padding: 20px 30px 5px 30px;
    background-color: rgba(255,189,68,0.6);
    border-radius: 20px;
    margin-bottom: 30px;
}

.green-card-link:hover {
    transform: scale(1.01);
    background-color: rgba(0,202,75,0.7);
}

.red-card-link:hover {
    transform: scale(1.01);
    background-color: rgba(255,96,92,0.8);
}

.yellow-card-link:hover {
    transform: scale(1.01);
    background-color: rgba(255,189,68,0.8);
}

.card-header {
    display: flex;
    min-height: 130px;
    overflow: hidden;
    align-items: center;
}

.card-header div img {
    border-radius: 50%;
    height: 100%;
}

.card-header div .subtitle{
    margin-bottom: 10px;
}

.avatar {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.title {
    /* text-align: justify; */
    display:block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.subtitle {
    /* text-align: justify; */
    display:block;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    /* text-align: justify; */
    display:block;
    margin-bottom: 20px
}